.block {
    background-color: #FFD580;
    height: 500px;
    width: 40%;
    border-radius: 2%;
    margin:auto;
    padding: 20px;
    display: inline-block;
}

.entry {
    border-radius: 2%;
    margin-top: .5em;
    background: white;
    height: 3em;
    text-align: center;
    padding-top: 1em;
}
h2 {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}

