body {
    font-family: 'Oswald', sans-serif;
    background-color: #55c2e6;
    margin: 0px;
    line-height: 2; 
    overflow: visible;
}
html {
    margin: 0px;
    overflow: visible;
}
.container {
    text-align: center;
    border-style: none;
}
h1 {
    height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: #ff9721;
    font-size: 64px;
    letter-spacing: 5px;
}
input {
    display: block;
    border: 5px solid #ff9721;
    height: 30px;
    width: 350px;
    font-size: 20px;
    margin: 5px auto;
    box-shadow: 0px 1px 0px black;
}
#google {
    padding: 0; 
    border: none;
    background: none;
}
header {
    color: white;
    text-transform: uppercase;
    border: 3px solid white;
/*    border-radius: 80%;*/
    padding: 10px;
    float: right;
}
button {
    display: block;
    margin: 10px auto 50px;
    color: white;
    background: #55c2e6;
    border: 3px solid white;
    border-radius: 10%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
#nothing {
    color: #55c2e6;
}
    

/*ff9721 (dark orange)
 *#ffb521 (lighter orange) */
